{% extends 'factura/base2.html' %}

{%  block titulo %}Clientes{% endblock %}

{% block contenido %}
    <div class="div_paginas">
        <h3 align="center">Clientes</h3>
        <div style="margin-left: 30px">
            <a href="{% url 'sistemafactura:agregar-cliente' %}" class="btn btn-primary" id="boton_personalizado">Agregar Cliente</a>
        </div>
        {% for cliente in clientes %}
            <div class="card" id="card_personalizada">
                  <div class="card-body">
                    <h5 class="card-title">{{ cliente.nombre }} {{ cliente.apellido }}</h5>
                    <p class="card-text">Cedula: {{ cliente.cedula }}</p>
                    <p class="card-text">Teléfono: {{ cliente.telefono }}</p>
                    <p class="card-text">Dirección: {{ cliente.direccion }}</p>
                    <p class="card-text">Correo: {{ cliente.correo }}</p>
                    <a href="{% url 'sistemafactura:modificar-cliente' cliente.id %}" class="btn btn-primary btn-sm">Modificar</a>
                    <a href="{% url 'sistemafactura:eliminar-cliente' cliente.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                  </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}