{% extends 'factura/base2.html' %}

{%  block titulo %}Inventario{% endblock %}

{% block contenido %}
    <div class="div_paginas">
        <h3 align="center">Inventario</h3>
            <div id="tabla_inventario">
                <table>
                <thead>
                    <tr>
                        <th>Producto</th><th>Descripción</th><th>ID</th><th>Precio de compra</th><th>P.V.P</th><th>Stock</th>
                    </tr>
                </thead>
                {% for producto in productos %}
                    <tr>
                    <td>{{ producto.nombre }}</td><td>{{ producto.detalle }}</td><td>{{ producto.id }}</td><td>${{ producto.precioCompra}}</td><td>${{ producto.precio_unitario}}</td><td>{{ producto.stock}} unidades</td>
                    </tr>
                {% endfor %}
            </table>
            </div>

    </div>
{% endblock %}