{% extends 'factura/base2.html' %}

{%  block titulo %}Productos{% endblock %}

{% block contenido %}
    <div class="div_paginas">
        <h3 align="center">Productos</h3>
        <div style="margin-left: 23%">
            <a href="{% url 'sistemafactura:agregar-producto' %}" class="btn btn-primary" id="boton_personalizado">Agregar Producto</a>
        </div>
            <div id="tabla">
                <table>
                <thead>
                    <tr>
                        <th>Producto</th><th>Descripción</th><th>P.V.P</th><th>Opciones</th>
                    </tr>
                </thead>
                {% for producto in productos%}
                    <tr>
                    <td>{{ producto.nombre }}</td><td>{{ producto.detalle }}</td><td>${{ producto.precio_unitario }}</td>
                        <td>
                            <a href="{% url 'sistemafactura:modificar-producto' producto.id %}" class="btn btn-primary btn-sm">Modificar</a>
                            <a href="{% url 'sistemafactura:eliminar-producto' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        <h3 align="center" style="margin-top: 50px">Venta de los productos</h3>
        <div class="div_tabla_productos_vendidos">
            {% for producto in productos %}
                <p>{{ producto.nombre }}</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: {{ producto.stock }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}